body {
    width: 100%;
    font-family: 'Manrope',  sans-serif;
    background: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
    letter-spacing: -0.03em;
}

.firstsection {
    padding-top: 70px;
}

section {
    padding-bottom: 150px;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

.black {
    padding-top: 151px;
    background-color: #121212;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    margin-bottom: 30px;
}

.home {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url(../resourses/home1.png);
}

.home-text {
    position:absolute;
    left: 40px;
    bottom: 40px;
    width: 430px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
}

h2 {
    margin-bottom: 30px;
    color: #121212;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}

.text {
    width: 1048px;
    height: 366px;
    margin-bottom: 30px;
    color: #121212;
    font-size: 45px;
    font-weight: 400;
    line-height: 61px;
    text-align: left;
}

.servises {
    display: inline-block;
    padding: 20px 40px;
    border-radius: 5px;
    background-color: rgb(173, 24, 24);
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
}

.block {
    margin-bottom: 90px;
}

.block__image {
    margin-bottom: 15px;
    height: 450px;
}

h3 {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
}

.block__btn {
    height: 27px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: #AD1818;
    background: #FFFFFF;
    text-decoration: none;
}

.project {
    display: block;
    width: 100%;
    height: 153px;
    border: 1px solid red;
    border-radius: 5px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    line-height: 153px;
    text-align: center;
    color: #AD1818;
}

.project:hover {
    background-color: #AD1818;
    color: #FFFFFF;
}

h4 {
    margin-bottom: 34px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #FFFFFF;
}

.servise__block {
    margin-bottom: 60px;
}

.servise__block:last-child {
    margin-bottom: 0px;
}

.servise__image {
    margin-bottom: 15px;
}

.servise__text {
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    color: #FFFFFF;
}

.logo__link {
    display: inline-block;
}

.logo {
    display: block;
    width: 126px;
}

.nav {
    display: block;
    float: right;
}

.nav__section {
    margin-top: 33px;
}

.nav__link {
    display: inline-block;
    margin-left: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;
    color: #121212;
}

.nav__link:nth-child(1) {
    margin-left: 0px;
}

.nav__link:hover {
    border-bottom: 1px solid rgba(0,0,0,0.5);
    opacity: 0.5
}

.backdrop {
    height: 717px;
    background-image: url(/resourses/backdrop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
}

.back__text {
    position: absolute;
    left: 125px;
    bottom: 60px;
    width: 443px;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
}

.box_contact {
    margin-top: 186px;
    height: 217px;
    position: relative;
}

h5 {
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.box_contact:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 230px;
    width: 13px;
    height: 24px;
    background-image: url(/resourses/phone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.number {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-decoration: none;
    letter-spacing: -0.03em;
    color: #121212;
}

.numbers {
    margin-bottom: 30px;
}

.mail {
    color: #121212;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    opacity: 0.5;
    text-decoration: none;
    border-bottom: 2px solid rgba(0,0,0,0.5);
}

.footer__container {
    text-align: center;
}

.footer__container {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #121212;
    color: #FFFFFF;
}

.footer__link {
    display: inline-block;
    margin-left: 55px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;
    color: #FFFFFF;
}

.footer__link:nth-child(1) {
    margin-left: 0px;
}

.footer__link:hover {
    opacity: 0.5;
}

.footer__nav {
    margin-bottom: 87px;
}

.metrika {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    opacity: 0.5;
}